<!doctype html>
<html>
  <head>
    <title>Document</title>
  </head>
  <body>
    <h2>Document</h2>
    <h4>Original</h4>
    <p>{{ document.doc }}</p>
    <p>Size: {{ document.doc.size }}</p>
    <a href="{% url 'compress' document.pk %}">Compress...</a>
    {% if document.compressed_docs.count %}
    {% for cDoc in document.compressed_docs.all %}
    <h4>Compressed as {{ cDoc.compression_type }} </h4>
    <p>{{ cDoc.compressed_doc }}</p>
    <p>Size: {{ cDoc.compressed_doc.size }}</p>
    {% if cDoc.compressed_doc.size <= document.compressed_doc.size %}
			       <p>Why on earth would you compress such a *small* file???</p>
			       
			       {% else %}
			       Good choice on compressing that!
			       {% endif %}

			       {% endfor %}
			       {% endif %}
                       <hr>
<a href="{% url 'upload'%}">Upload...</a>
  </body>
</html>

